@page
@model unibook.Pages.CreateListingModel
@{
    ViewData["Title"] = "CreateListing";
}

<h1>Create new listing</h1>
<div class="pl-2 container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Title"></label>
                    <input asp-for="Input.Title" class="form-control" required/>
                    <span asp-validation-for="Input.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Author"></label>
                    <input asp-for="Input.Author" class="form-control"required />
                    <span asp-validation-for="Input.Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Edition"></label>
                    <input asp-for="Input.Edition" class="form-control"required />
                    <span asp-validation-for="Input.Edition" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ISBN"> ISBN <a href="https://en.wikipedia.org/wiki/International_Standard_Book_Number" target="_blank">What is this?</a></label>
                    <input asp-for="Input.ISBN" class="form-control"required />
                    <span asp-validation-for="Input.ISBN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Price">Price in DKK.</label>
                    <input asp-for="Input.Price" class="form-control" required/>
                    <span asp-validation-for="Input.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Semester"></label>
                    <input asp-for="Input.Semester" class="form-control" required/>
                    <span asp-validation-for="Input.Semester" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.University"></label>
                    <select asp-for="Input.University" class="form-control" required>
                        <option>Aalborg University </option>
                        <option>Aarhus University </option>
                        <option>Copenhagen Business School</option>
                        <option>Copenhagen University </option>
                        <option>IT University of Copenhagen </option>
                        <option>Roskilde University </option>
                        <option>Technical University of Denmark</option>
                        <option>University of Southern Denmark</option>
                    </select>

                    <span asp-validation-for="Input.University" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Study"></label>
                    <input asp-for="Input.Study" class="form-control" required/>
                    <span asp-validation-for="Input.Study" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Description"></label>
                    <input style="height: 175px;" asp-for="Input.Description" class="form-control"required />
                    <span asp-validation-for="Input.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ListingImageInput">Add a picture of the book</label> <br>
                    <input type="file" asp-for="ListingImageInput"required />
                </div>
                <button type="submit" class="btn btn-primary">Create listing</button>
            </form>
        </div>
    </div>

</div>
