@page
@model unibook.Pages.CreateListingModel
@{
    ViewData["Title"] = "CreateListing";
}

<h1>CreateListing</h1>
<div class="pl-2 container-fluid">
    <div class="row">
        <div class="col-md-7">
            <form>

                <div class="form-group row">
                    <label for="exampleTitle" class="col-sm-2 col-form-label">Title</label>
                    <div class="pl-2 w-75 ">
                        <input type="text" class="form-control" id="exampleCourse" placeholder="Title">
                    </div>
                </div>
                <div class="form-group row mr-n3">
                    <label for="examplePrice" class="col-sm-2 col-form-label">Price</label>
                    <div class="pl-2 w-75">
                        <input type="text" class="form-control" id="examplePrice" placeholder="Price">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleEdition" class="col-sm-2 col-form-label">Edition</label>
                    <div class="pl-2 w-75">
                        <input type="text" class="form-control" id="exampleEdition" placeholder="Edition">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleISBN" class="col-sm-2 col-form-label">ISBN</label>
                    <div class="pl-2 w-75">
                        <input type="text" class="form-control" id="exampleISBN" placeholder="ISBN">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleUniversity" class="col-sm-2 col-form-label">University</label>
                    <div class="pl-2 w-75">
                        <input type="text" class="form-control" id="exampleUniversity" placeholder="University">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleSemester" class="col-sm-2 col-form-label">Semester</label>
                    <div class="pl-2 w-75">
                        <input type="text" class="form-control" id="exampleSemester" placeholder="Semester">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleCourse" class="col-sm-2 col-form-label">Course</label>
                    <div class="pl-2 w-75">
                        <input type="text" class="form-control" id="exampleCourse" placeholder="Course">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleCourse" class="col-sm-2 col-form-label">Description</label>
                    <div class="pl-2 w-75">
                        <input type="text" style="height: 100px" class="form-control" id="exampleCourse" />
                    </div>
                </div>
                <label>Choose pictures</label>
                <br>
                <input type="file" name="fileupload" value="fileupload" id="fileupload">
            </form>
        </div>
        <div class="col-md-5">
            <div class="form-group row">
                <div class="pl-2 w-75">
                    <label>Choose pictures</label>
                    <br>
                    <input type="file" name="fileupload" value="fileupload" id="fileupload">
                </div>
            </div>
            <div class="form-group row">
                <img src="~/roedaal1.jpg" class="img-thumbnail" style=" height:40%; width:40%" />
                <img src="~/roedaal2.jpg" class=" img-thumbnail" style=" height:40%; width:40%" />
            </div>
            <div class="form-group row">
                <img src="~/roedaal2.jpg" class="img-thumbnail" style=" height:40%; width:40%" />
                <img src="~/roedaal1.jpg" class=" img-thumbnail" style=" height:40%; width:40%" />
            </div>

        </div>

    </div>
</div>
