@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Unibook</h1>
    <p>
        Search for books:
    </p>
</div>
<div class="col-md-auto">
    <form asp-controller="Listings" asp-action="=" Index">
        <p>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </p>
    </form>
</div>

<div class="mx-auto" style="width: 50%;">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
    </ul>
</div>
