@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Unibook</h1>
    <p>
        Search for books:
    </p>
        <form asp-controller="Listings" asp-action="="Index">
            <p>
            <input type="text" name="SeachString">
            <input type="submit" value="Search" />
            </p>
        </form>
    <table class="table">
        <thead>

        </thead>

    </table>
</div>
