@page

@model unibook.Pages.profilepageModel
@{
    ViewData["Title"] = "profilepage";
}

<h1>Profile page</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/jolle.png" alt="Card image cap">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name</li>
                        <li class="list-group-item">Address</li>
                        <li class="list-group-item">Phone</li>
                        <li class="list-group-item">E-mail</li>
                        <li class="list-group-item">University</li>
                        <li class="list-group-item">Rating</li>
                    </ul>
                    <br>
                    <a href="#" class="btn btn-primary">Edit profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Book</h5>
                    <p class="card-text">Very nice book broski</p>
                    <a href="#" class="btn btn-primary">Edit listing</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Book</h5>
                    <p class="card-text">Very nice book broski</p>
                    <a href="#" class="btn btn-primary">Edit listing</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Book</h5>
                    <p class="card-text">Very nice book broski</p>
                    <a href="#" class="btn btn-primary">Edit listing</a>
                </div>
            </div>
        </div>
    </div>

</div>



