@page
@model unibook.Pages.SearchResultsModel
@{
    ViewData["Title"] = "SearchResults";
}

<style>
    .dotted {
        border: 1px dotted #000;
        border-style: none none dotted;
        color: #000;
        background-color: #fff;
    }
</style>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div>
                    <h2>
                        156 results found for: <span class="text-navy">"System Analysis and Design"</span>
                    </h2>

                    <div>
                        <div class="input-group">
                            <input type="text" placeholder="System Analysis and Design" name="search" class="form-control input-lg">
                        </div>
                    </div>

                    <hr class='dotted' />
                    <div class="search-result">
                        <h3><a href="#">System Analysis and Design</a></h3>
                        <p>
                            Price:<br />
                            Location:<br />
                        </p>
                    </div>

                    <hr class='dotted' />
                    <div class="search-result">
                        <h3><a href="#">System analysis and design</a></h3>
                        <p>
                            Price:<br />
                            Location:<br />
                        </p>
                    </div>

                    <hr class='dotted' />
                    <div class="search-result">
                        <h3><a href="#">SAD</a></h3>
                        <p>
                            Price:<br />
                            Location:<br />
                        </p>
                    </div>

                    <hr class='dotted' />
                    <div class="search-result">
                        <h3><a href="#">SAD aka. rød aalborg</a></h3>
                        <p>
                            Price:<br />
                            Location:<br />
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


